requests
ipywidgets
beautifulsoup4
openai
pydantic
python-louvain
numpy
pandas
seaborn
matplotlib
scipy
networkx
community
setfit
datasets
scikit-learn
torch
pyvis 
spacy
umap
plotly
nbformat
tiktoken
wandb
transformers==4.45.2
twikit>=2.1.3