IPython
requests
beautifulsoup4
openai
pydantic
wikipedia-api
holoviews
python-louvain
hvplot
numpy==2.0
pandas
seaborn
matplotlib
scipy
networkx
community
setfit
datasets
scikit-learn
torch
transformers
gradio
requests
bertopic