requests
ipywidgets
beautifulsoup4
openai
pydantic
python-louvain
numpy
pandas
seaborn
matplotlib
scipy
networkx
community
datasets
scikit-learn
torch
pyvis 
spacy
plotly
nbformat
tiktoken
tqdm
selenium
nest_asyncio
asyncio
wordcloud
nltk
textblob
wandb
gradio
setfit
transformers==4.45.2 # Bug/Issue with the latest version (4.46.2)
twikit>=2.1.3